*{
    margin:0;
    padding:0;
}
img{
    width: 40px;
    height: 30px;
    background-color: #04a038;
    padding: 10px;
    font-size: 20px;
}
    

i{
    color:#36438c;
    background:tomato;
    padding: 15px;
    font-size: 14px;
    
    

}
