*{
    margin:0;
    padding:0;
}
/*
body{
    height:100%;
}*/
html{
    height:50%;
}
body{
    height:inherit;
}
.parent{
    background-color:#0a95ec;
    margin:20px auto;
    padding:2%;
    width:92%;
    height:inherit;
    
   

}
