body{
    background:url(bg.jpg);
    background-attachment: fixed;
 }
 div{
   background-color:hsla(86, 12%, 73%, 0.601);
   background-image:url(vg.jpg);
   background-size: 150px 150px;
   background-repeat:no-repeat;
   background-position:top center;
   background-position:right -50px 25px;
   /*Shorth*/
   background:#0033ff url url(bg.jpg)
   no-repeat center;


 }